﻿@{
    
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a system used to manage the details of employees currently in the company.</a>.</p>
</div>
